@font-face {
  font-family: 'WildSpirit';
  src: url('../fonts/wild-spirit.eot');
  src: url('../fonts/wild-spirit.eot?#iefix') format('embedded-opentype'), url('../fonts/wild-spirit.woff2') format('woff2'), url('../fonts/wild-spirit.woff') format('woff'), url('../fonts/wild-spirit.ttf') format('truetype'), url('../fonts/wild-spirit.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WildSpiritExtras';
  src: url('../fonts/wild-spirit-extras.eot');
  src: url('../fonts/wild-spirit-extras.eot?#iefix') format('embedded-opentype'), url('../fonts/wild-spirit-extras.woff2') format('woff2'), url('../fonts/wild-spirit-extras.woff') format('woff'), url('../fonts/wild-spirit-extras.ttf') format('truetype'), url('../fonts/wild-spirit-extras.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WildSpiritAlt';
  src: url('../fonts/wild-spirit-alt.eot');
  src: url('../fonts/wild-spirit-alt.eot?#iefix') format('embedded-opentype'), url('../fonts/wild-spirit-alt.woff2') format('woff2'), url('../fonts/wild-spirit-alt.woff') format('woff'), url('../fonts/wild-spirit-alt.ttf') format('truetype'), url('../fonts/wild-spirit-alt.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family: "ProximaNovaSoftW03-Regular";
    src: url("//db.onlinewebfonts.com/t/f1448054f14757d284c064b271c00cc6.eot");
    src: url("//db.onlinewebfonts.com/t/f1448054f14757d284c064b271c00cc6.eot?#iefix") format("embedded-opentype");
    src: url("//db.onlinewebfonts.com/t/f1448054f14757d284c064b271c00cc6.woff2") format("woff2");
    src: url("//db.onlinewebfonts.com/t/f1448054f14757d284c064b271c00cc6.woff") format("woff");
    src: url("//db.onlinewebfonts.com/t/f1448054f14757d284c064b271c00cc6.ttf") format("truetype");
    src: url("//db.onlinewebfonts.com/t/f1448054f14757d284c064b271c00cc6.svg#ProximaNovaSoftW03-Regular") format("svg");
}


html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Libre Baskerville', serif;
}
img{
  max-width: 100%;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.bg-footer{
  background: #0e0e0e;
}
.bg-peach{
  background: #f15a3a;
}
input:focus,
button:focus,
a:focus{
  outline: none!important;
  box-shadow: none !important;
}
.padding-l-10{
  padding-left: 10px!important;
}
.padding-r-10{
  padding-right: 10px!important;
}
.custom-btn{
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  border: 2px solid #000;
}
.custom-btn:after, .custom-btn:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 51%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: all linear 300ms;
}
.custom-btn:hover{
  color: #fff;
  transition: all linear 200ms;
}
.custom-btn:after {
  left: -51%;
}
.custom-btn:before {
  right: -51%;
  left: unset;
}
.custom-btn:hover::after {
    left: 0;
}

.custom-btn:hover::before {
    right: 0;
}

 /* NAVBAR-TOP CSS */
.header-top {
  padding: 0 1rem;
  z-index: 3;
}
.header-top .navbar-nav{
  line-height: 25px;
}
.header-top .navbar-nav .nav-link {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 5px 20px;
}
.header-top .navbar-nav .badge {
  width: 20px;
  height: 20px;
  line-height: 16px;
  margin-left: 5px;
  font-size: 12px;
}
.header-top .nav-item:last-child .nav-link{
  padding: 0 15px;
  margin: 6px 0 0 10px;
  border: 2px solid;
  line-height: 18px;
}
.header-navigation{
  z-index: 2;
}
.navbar-light .navbar-brand{
  display: block;
  width: 17%;
  padding: 10px 0;
  padding-bottom: 12px;
}
.navbar-light .navbar-nav .nav-link {
  padding: 10px 25px;
  font-family: "ProximaNovaSoftW03-Regular";
  font-weight: 600;
}
.navbar-light .navbar-nav:last-child .dropdown-toggle::after{
  display: none;
}
.navbar-toggler{
  padding: 10px;
}
.navbar-toggler .line {
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
  margin: 5px 0;
  transition: all linear 200ms;
}

.form-Newsletter .form-control,
.search-form .form-group .form-control{
  width: 80%;
  padding: 10px 15px;
  background: #dfd6d6;
  color: #000;
  height: 39px;
  font-size: 16px;
  font-weight: 600;
  font-family: "ProximaNovaSoftW03-Regular";
}
.search-form .form-group .form-control::placeholder{
  font-weight: 400;
  color: #000;
}
.search-form .form-group .search-button{
  padding: 0 10px;
  letter-spacing: 2px;
  min-width: 120px;
}

/*  dropdown css */
/* NAVBAR-TOP CSS */


/* section one */
.banner-section{
  background: #feeeeb;
  overflow: hidden;
}

.scroll-btn{
  height: 35px;
  width: 35px;
  line-height: 35px;
  cursor: pointer;
}
.scroll-btn i{
  animation: scroll 2000ms cubic-bezier(0.64, 0.46, 0.19, 0.36) infinite;
}
@keyframes scroll {
  0%,100%{
    transform: translateY(-3px);
  }
  70%{
    transform: translateY(8px);
  }
}


.scroll-btn-text{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-left: 12px;
  letter-spacing: .5px;
}
.banner-text{
  left: 0;
  right: 0;
  font-size: 18px;
  font-family: "ProximaNovaSoftW03-Regular";
  width: 36%;
  letter-spacing: .3px;
}
.scroll-btn-wrapper,
.banner-text {
  top: auto;
  bottom: 30px
}
.scroll-btn-wrapper{
  bottom: 20px;
  left: 20%;
}

.section-heading .title{
  font-size: 102px;
  color: #000;
  font-family: 'WildSpirit';
  font-weight: normal;
  position: relative;
}
.section-heading .title:after{
  content: "A";
  position: absolute;
  left: 50%;
  top: auto;
  bottom: -20px;
  font-family: 'WildSpiritExtras';
  color: #000;
  transform: translate(-50%, 0)
}
.collection {
  background: #f15a3a;
}
.collection .section-heading .title:after,
.collection .section-heading .title{
  color: #e4e0e0;
}
.collection .card-body{
  padding: 10px 0;
}
.collection .card .card-title{
  font-family: 'Montserrat', sans-serif;
}
.collection .card .card-text {
    font-family: "ProximaNovaSoftW03-Regular";
}
.btn-top-link,
.blog-btn-wrapper .btn-recipe,
.recipe-generator-wrapper .btn-recipe,
.recipe-btn-wrapper .btn-recipe,
.collection .btn-collection{
  letter-spacing: 3px;
  padding: 8px 25px;
  border-color: #e4e0e0;
  color: #e4e0e0;
}
.collection .btn-collection:hover{
  border-color: #000;
}
.our-recipes{
  background-color: #f2eeee;
}
.our-recipes .section-heading .title:after{
  content: "R";
}

.recipes-box{
  width: 120px;
  height: 120px;
  margin: 0 10px;
}
.recipes-box .recipe-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.blog-btn-wrapper .btn-recipe:hover,
.recipe-generator-wrapper .btn-recipe:hover,
.recipe-btn-wrapper .btn-recipe:hover{
  color: #fff !important;
}
.featured-image-wrapper {
  width: 60px;
  height: 175px;
}
.featured-image-wrapper img {
    height: 175px;
}
.featured-image-wrapper.ice-glass img,
.featured-image-wrapper.jug img {
    height: unset;
}
.featured-image-wrapper.ice-glass,
.featured-image-wrapper.jug{
  line-height: 175px;
}
.add-icon{
  font-family: 'WildSpirit';
}
.product-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
sup{
  font-size: 60%;
}
.section-blog{
  background-color: #e5dede;
}
.section-blog .card-body{

}
.section-blog .card-title{
  display: flex;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.section-blog .card-title:hover {
  text-decoration: underline;
}
.footer-bottom .small,
.section-contact-us .post-content p,
.section-blog .card-text,
.section-contact-us .updates {
    font-family: "ProximaNovaSoftW03-Regular";
}
.social-link .nav .nav-item{
  width: 35px;
  height: 35px;
}

.signup{
  letter-spacing: 3px;
}
.section-contact-us .user{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.footer-bottom .footer-logo-wrapper{
  width: 80px;
}
.section{
  z-index: 0;
}
.section.collection .bg-img{
  width: 12%;
  left: 3%;
  top: 10%;
}
.section.collection .bg-img.right{
  top: unset;
  bottom: 5%;
  left: unset;
  right: 0;
  width: 15%;
}
.our-recipes .bg-img{
  width: 15%;
  height: 30%;
  left: 0;
  top: 4%;
}
.our-recipes .bg-img.right{
  width: 13%;
  height: 30%;
  top: 18%;
  left: unset;
  right: 0;
}
.section-blog .bg-img{
  width: 15%;
  top: 6%;
}
.section-blog .bg-img.right {
  width: 14%;
  top: unset;
  bottom: 25%;
  right: 3%;
}
.our-recipes .product-name sup{
  top: 5px;
}
.navbar-toggler{
  width: 50px;
  height: 50px;
}
.navbar-toggler[aria-expanded="true"] .line.last,
.navbar-toggler[aria-expanded="true"] .line.top{
  transform: rotate(-42deg);
  transform-origin: center;
  transition: transform linear 200ms;
  margin: -2px auto;
}
.navbar-toggler[aria-expanded="true"] .line.last{
  transform: rotate(42deg);
  transition: transform linear 200ms;
}
.navbar-toggler[aria-expanded="true"] .line.middle{
  display: none;
}
section {
    overflow: hidden;
}
.navbar-light .navbar-toggler{
  border: 0;
}



/* SINGLE - PAGE COLLECTION */
.collection-single .collection{
  background: #fde6e1;
}
.collection-single .section-heading .title::after,
.collection-single .section-heading .title{
  color: #000;
}
.collection-single .collection .bg-img.right{
  top: 20%;
  bottom: unset;
}
.collection-single .collection .bg-img.left-bottom,
.collection-single .collection .bg-img{
  width: 15%;
  left: 0;
}
.collection-single .collection .bg-img.left-bottom{
  width: 15%;
  left: 0;
  bottom: 10%;
  top: unset;
}
.collection-single .collection .card .card-text{
  font-size: 18px;
}

.collection-single .list-group-item{
  color: #495057bd;
  border: 0;
  border-radius: 0!important;
  background: transparent;
  padding: 10px 15px;
  width: 15%;
}
.collection-single .list-group-item.active{
  background-color: #007bff00;
  border: 1px solid;
  color: #495057;
  border-color: #463833ab;
  border-bottom-color: #fde6e1;
  border-top-left-radius: 4px!important;
  border-top-right-radius: 4px!important;
}
.collection-single .list-group-item:hover{
  background: transparent;
}
.collection-single .list-group{
  border-bottom: 1px solid #2e2523;
}
.collection-single .list-group-item:last-child{
  margin-bottom: -1px;
}
.collection-single .our-recipes{
  background: #1a1a1a;
}
.collection-single .our-recipes .title:after,
.collection-single .our-recipes .title{
  color: #fff;
}
.collection-single .our-recipes .custom-btn{
  border-color: #fff!important;
  color: #fff!important;
}
.collection-single .festive-recipe .festive-recipe-title {
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
}
