// ============================================================
// FONT WILDSPIRIT
// ============================================================
@font-face {
	font-family: 'WildSpirit';
	src: url('../fonts/wild-spirit.eot');
	src: url('../fonts/wild-spirit.eot?#iefix') format('embedded-opentype'),
             url('../fonts/wild-spirit.woff2') format('woff2'),
	     url('../fonts/wild-spirit.woff') format('woff'),
	     url('../fonts/wild-spirit.ttf') format('truetype'),
	     url('../fonts/wild-spirit.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

// ============================================================
// FONT WILDSPIRIT EXTRA
// ============================================================
@font-face {
	font-family: 'WildSpiritExtras';
	src: url('../fonts/wild-spirit-extras.eot');
	src: url('../fonts/wild-spirit-extras.eot?#iefix') format('embedded-opentype'),
             url('../fonts/wild-spirit-extras.woff2') format('woff2'),
	     url('../fonts/wild-spirit-extras.woff') format('woff'),
	     url('../fonts/wild-spirit-extras.ttf') format('truetype'),
	     url('../fonts/wild-spirit-extras.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

// ============================================================
// FONT WILDSPIRIT ALT
// ============================================================
@font-face {
	font-family: 'WildSpiritAlt';
	src: url('../fonts/wild-spirit-alt.eot');
	src: url('../fonts/wild-spirit-alt.eot?#iefix') format('embedded-opentype'),
             url('../fonts/wild-spirit-alt.woff2') format('woff2'),
	     url('../fonts/wild-spirit-alt.woff') format('woff'),
	     url('../fonts/wild-spirit-alt.ttf') format('truetype'),
	     url('../fonts/wild-spirit-alt.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}


// ============================================================
// FONT PROXIMASOFT
// ============================================================
// PROXIMA SOFT REGULAR
@font-face {
	font-family: "proxima-soft";
	src: url("https://use.typekit.net/af/d4b02d/00000000000000003b9af203/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
		url("https://use.typekit.net/af/d4b02d/00000000000000003b9af203/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
		url("https://use.typekit.net/af/d4b02d/00000000000000003b9af203/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-style: normal;
	font-weight: 400;
}

// PROXIMA SOFT SEMIBOLD
@font-face {
	font-family: "proxima-soft";
	src: url("https://use.typekit.net/af/10b3e2/00000000000000003b9af208/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),
		url("https://use.typekit.net/af/10b3e2/00000000000000003b9af208/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),
		url("https://use.typekit.net/af/10b3e2/00000000000000003b9af208/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
	font-style: normal;
	font-weight: 600;
}

// PROXIMA SOFT BOLD
@font-face {
	font-family: "proxima-soft";
	src: url("https://use.typekit.net/af/ee9796/00000000000000003b9af20a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
		url("https://use.typekit.net/af/ee9796/00000000000000003b9af20a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
		url("https://use.typekit.net/af/ee9796/00000000000000003b9af20a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-style: normal;
	font-weight: 700;
}


// ============================================================
// FONT BASKERVILLE
// ============================================================
// BASKERVILLE URW REGULAR
@font-face {
	font-family: "baskerville-urw";
	src: url("https://use.typekit.net/af/a86f78/000000000000000000017918/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
		url("https://use.typekit.net/af/a86f78/000000000000000000017918/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
		url("https://use.typekit.net/af/a86f78/000000000000000000017918/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-style: normal;
	font-weight: 400;
}

// BASKERVILLE URW MEDIUM
@font-face {
	font-family: "baskerville-urw";
	src: url("https://use.typekit.net/af/e99c2c/00000000000000000001791a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),
		url("https://use.typekit.net/af/e99c2c/00000000000000000001791a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),
		url("https://use.typekit.net/af/e99c2c/00000000000000000001791a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
	font-style: normal;
	font-weight: 500;
}

// BASKERVILLE URW BOLD
@font-face {
	font-family: "baskerville-urw";
	src: url("https://use.typekit.net/af/9a2c27/00000000000000000001791c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
		url("https://use.typekit.net/af/9a2c27/00000000000000000001791c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
		url("https://use.typekit.net/af/9a2c27/00000000000000000001791c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-style: normal;
	font-weight: 700;
}

// BASKERVILLE URW REGULAR ITALIC
@font-face {
	font-family: "baskerville-urw";
	src: url("https://use.typekit.net/af/0ab387/00000000000000003b9acb60/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),
		url("https://use.typekit.net/af/0ab387/00000000000000003b9acb60/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),
		url("https://use.typekit.net/af/0ab387/00000000000000003b9acb60/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
	font-style: italic;
	font-weight: 400;
}
